{% extends "template.html" %}
{% block body %}
    <div class="row">
        <h1><a href="https://github.com/pallets/flask/issues/331">static file would not send to browser correctly
            <strong>#331</strong></a></h1>

        <div>
            <h2>What is the bug?</h2>
          <pre><code class="python">
#!/usr/bin/env python
# -*- coding: utf-8 -*-
from flask import Flask, render_template

app = Flask(__name__)

@app.route('/')
def index():
return render_template('index.html')

@app.route('/&#60;arg1&#62;/&#60;arg2&#62;/&#60;arg3&#62;/')
def arg3(arg1, arg2, arg3):
return arg1 + " " + arg2 + " " + arg3

          </code></pre>


            <p>Default behavior that sends static file to browser</p>

            <p><a href="/static/style.css/">/static/style.css/</a></p>

            <p>After adding a routing rule, when the url is not a static file</p>

            <p><a href="/1/2/3/">/1/2/3/</a></p>

            <p>After adding a routing rule, when the url is a static file</p>

            <p><a href="/static/jquery/jquery.js/">/static/jquery/jquery.js/</a></p>
        </div>


        <div>
            <h2>Concept Location</h2>
            <code>grep -r "route" *</code>

            <p>366 results</p>

            <pre><code class="terminal">
flask/app.py: #: To register a view function, use the :meth:`route` decorator.
flask/app.py: #: but before any routes are connected. Example::
flask/app.py: """Connects a URL rule. Works exactly like the :meth:`route`
flask/app.py: @app.route('/')
flask/app.py: Internally :meth:`route` invokes :meth:`add_url_rule` so if you want
flask/app.py: For more information refer to :ref:`url-route-registrations`.
flask/app.py: 'for example: @app.route(..., methods=["POST"])')
flask/app.py: def route(self, rule, **options):
flask/app.py: @app.route('/')
flask/app.py: For more information refer to :ref:`url-route-registrations`.
flask/app.py: def weighted_route(self, *args, **kwargs):
flask/app.py: # register view_func with route
flask/app.py: self.route(*args, **kwargs)(view_func)
            </code></pre>

            <br>

            <code>grep -r "add_url_rule" *</code>

            <p>83 results</p>

            <pre><code class="terminal">
flask/app.py: #: :meth:`add_url_rule`. Defaults to :class:`werkzeug.routing.Rule`.
flask/app.py: self.add_url_rule(self.static_url_path + '/&#60;path:filename&#62;',
flask/app.py: def add_url_rule(self, rule, endpoint=None, view_func=None, **options):
flask/app.py: app.add_url_rule('/', 'index', index)
flask/app.py: Internally :meth:`route` invokes :meth:`add_url_rule` so if you want
flask/app.py: given URL rule. This does the same thing as :meth:`add_url_rule`
flask/app.py: self.add_url_rule(rule, endpoint, f, **options)
            </code></pre>

            <br>

            <code>werkzeug.routing.Rule</code>

            <pre><code class="python">
def match_compare_key(self):
    return bool(self.arguments), -len(self._weights), self._weights

            </code></pre>

            <pre><code class="python">
# 1.  rules without any arguments come first for performance reasons only as we expect them to match faster and some common ones usually don't have any arguments (index pages etc.)
# 2.  The more complex rules come first so the second argument is the negative length of the number of weights.
# 3.  lastly we order by the actual weights.
            </code></pre>


            <pre><code class="python">

def build_compare_key(self):
    return self.alias and 1 or 0, -len(self.arguments), -len(self.defaults or ())
            </code></pre>

            <pre><code class="python">
def update(self):
    if not self._remap:
        return

    with self._remap_lock:
        if not self._remap:
            return

        self._rules.sort(key=lambda x: x.match_compare_key())
        for rules in itervalues(self._rules_by_endpoint):
            rules.sort(key=lambda x: x.build_compare_key())
        self._remap = False

            </code></pre>

            <p><code>Rule.match_compare_key()</code>, <code>Rule.build_compare_key()</code> is only used in <code>Rule.update()</code>
            </p>



            <img src="{{ url_for('static', filename="bug2_illustration.jpg") }}" style="display:block; margin: 0 auto;"/>

        </div>

            <div>
                <h2>Fix</h2>

                <p>In <code>Flask.route</code> add a parameter to specify if the rule should be prioritized or not.</p>

                <div class="row">
                    <div class="col-lg-6">
                        <h3>Before</h3>
                        <pre><code class="python">
def route(self, rule, **options):
    def decorator(f):
        endpoint = options.pop('endpoint', None)
        self.add_url_rule(rule, endpoint, f, **options)
        return f
    return decorator
                        </code></pre>
                    </div>
                    <div class="col-lg-6">
                        <h3>After</h3>
                        <pre><code class="python">
TOP_COMPARE_KEY = False, -100, [(-2, 0)]
BOTTOM_COMPARE_KEY = True, 100, [(2, 0)]
                        </code></pre>
                        <pre><code class="python">
def route(self, rule, **options):
    def decorator(f):
        endpoint = options.pop('endpoint', None)
        compare_key = options.pop('compare_key', None)

        self.add_url_rule(rule, endpoint, f, **options)

        if compare_key is not None:
            r = self.url_map._rules[-1]
            r.match_compare_key = lambda: compare_key
            return f
    return decorator
                        </code> </pre>
                    </div>

                </div>


                <br>
                <br>
                <pre><code class="python">
#!/usr/bin/env python
# -*- coding: utf-8 -*-
from flask import Flask, render_template

app = Flask(__name__)

@app.route('/')
def index():
    return render_template('index.html')

@app.route('/&#60;arg1&#62;/&#60;arg2&#62;/&#60;arg3&#62;/')
def arg3(arg1, arg2, arg3):
    return arg1 + " " + arg2 + " " + arg3

@app.route('/&#60;arg1&#62;/&#60;arg2&#62;/&#60;arg3&#62;/&#60;arg4&#62;', compare_key = Flask.BOTTOM_COMPARE_KEY)
def arg_4(arg1, arg2, arg3, arg4):
    return arg1 + " "  + arg2 + " " + arg3 + " " + arg4

                </code></pre>




            </div>
            <br>
            <p><a href="{{ url_for('static', filename="werkzeug/debug/shared/jquery.js") }}">/static/werkzeug/debug/shared/jquery.js</a></p>






        </div>

        <div>
            <h2>Overall</h2>
            <div class="row">
                <div class="col-lg-6">
                    Estimated Time to fix : <strong>3 hours</strong>
                </div>
                <div class="col-lg-6">
                    Estimated Time to fix : <strong>1 hours</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Files Inspected</h3>
                    <p>Flask</p>
                    <ul>
                        <li>app.py</li>
                        <li>helpers.py</li>
                        <li>vies.py</li>
                        <li>blueprints.py</li>
                    </ul>

                    <p>Werkzeug</p>
                    <ul>
                        <li>routing.py</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Files Changed</h3>
                    <ul>
                        <li>Flask app.py</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h3>Lines of Code Changed</h3>
                    <p>Added 6 lines of code</p>
                </div>

            </div>

        </div>




    </div>
{% endblock %}