{% extends "template.html" %}
{% block body %}
  <h1> What is Flask?</h1>
    <p>Flask is a microframework for python based on the Werkzeug toolkit and Jinja 2 template engine.
      Flask is BSD licensed, meaning, developers have the ability to do what they want as long as the conditions are not modified and the disclaimer is present.</p>
    <p>Websites such as Pinterest and LinkedIn use the Flask framework.
  Receiving as many as 12 billion requests for the API alone in Flask everyday
  </p>
{% endblock %}
