{% extends "template.html" %}
{% block body %}
    <div class="row">
        <img src="{{ url_for('static', filename="img/img/flask_logo.jpg") }}" style="display:block; margin: 0 auto;width:80%;"/>
        <h1> What is Flask?</h1>
        <p>Flask is a microframework for python based on the Werkzeug toolkit and Jinja 2 template engine.
            Flask is BSD licensed, meaning, developers have the ability to do what they want as long as the conditions are not modified and the disclaimer is present.</p>
        <p>Websites such as Pinterest and LinkedIn use the Flask framework.
            Receiving as many as 12 billion requests for the API alone in Flask everyday
        </p>

        <h1>Project Setup</h1>
        <p>Relatively an easy setup. Imported Flask into the Pycharm development environment which gave us the ability to clone directly from github.  Followed implementation directions from the Flask documentation found on the website. </p>
        <p>Alternatively, can clone from a terminal to achieve the same result.</p>
        <br>
        <p>Team worked with both Python 2.7 and Python 3.5.2 and operated in both OSX and Windows.</p>
    </div>

{% endblock %}
