{% extends "template.html" %}
{% block body %}
    <div class="row">
        <h1>Team Management</h1>
        <p>Communicated through GroupMe, a group messenger application to schedule meeting times.  Most work was done together during project days but team also worked individually as well</p>
        <br>

        <h1>Lessons Learned</h1>
        <ul>
            <li><p>Flask is a great application that makes life easier as an end user.  However, working on the maintenance of Flask was far more difficult.  Flask is not an independent project, it relies heavily on external libraries which have complex issues that impacted our own.</p>
</li>
            <li><p>Originally we picked Flask since it was a smaller project with a concise amount of information.  However, we advise future groups to pick a larger project with more issues that is also a more independent application.</p>
</li>
            <li><p>In addition we suggest that groups try to duplicate multiple bugs before committing to a project since the bugs are complex and hard to find which has the potential to change your application choice. </p></li>
            <li><p>The Werkzeug toolkit is evil. </p>
</li>
        </ul>
    </div>
{% endblock %}
